body {
	background-image: url("yoga1.jpg");
	background-size: cover;
}
h1 {color: #59788f;
	text-align:center;
}
#slogan {font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	text-align:center;
}
h3 {color: #59788f;
}
p {color: #ffffff;
}
.name {font-weight: bold;
}